name: CMake Windows

on:
  push:
    branches: ["**"]
    tags: ["v*"]
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
          submodules: recursive

      - name: MSVC Dev Cmd
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.10.1
          arch: win64_msvc2022_64
          cache: true

      - name: Configure
        shell: pwsh
        run: |
          if ("${{ github.ref_type }}" -eq "tag") {
            $version = "${{ github.ref_name }}"
            if ($version.StartsWith("v")) { $version = $version.Substring(1) }
            cmake -S . -B build -G "Visual Studio 17 2022" -A x64 -DNMS_VERSION=$version
          } else {
            cmake -S . -B build -G "Visual Studio 17 2022" -A x64
          }

      - name: Build
        run: cmake --build build --config Release
