name: CMake Linux

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install system deps
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev libxcb-xinerama0

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.6.3
          arch: gcc_64
          cache: true

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release
